footer {
    width: 100vw;
    height: 50px;
    bottom: 0;
    background-color: #333;
    color: #666;
    display: block;
    text-align: center;
    padding-top: 25px;
    position: absolute;
    margin-top: 20px;
  }
  