.user-section {
  margin-top: 3em !important; 
  display: inline-flex;
  background-color: transparent;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.user {
    display: inline-block;
    padding: 20px;
    margin: 0 auto;
  img {
    width: 80%;
    border-radius: 10px;
    opacity: .7;
    
  }
}
  
img:hover {
  cursor: pointer;
  opacity:1;
}
  